

.main-bg{
    --girdcolor: #000;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.2;
    background-size: 34px 34px;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1.7px, #fff 1.7px, #fff);
}
.main-bg2{
    --girdcolor: #000;
    width: 100vw;
    height: 5rem;
    background-color: #e5e5f7;
    opacity: 0.2;
    background-size: 34px 34px;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1.7px, #fff 1.7px, #fff);
}